{% extends 'partials/jscvRegisterForm.twig' %}

{% block register %}{% endblock %}
{% block remember %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
        </div>
    </div>
{% endblock %}